---
# tasks file for Setup vmstorage
- name: Adding user and group for VM
  ansible.builtin.user:
    group: victoriametrics
    name: victoriametrics
- name: Downloading and unzipping VM files
  ansible.builtin.unarchive:
    src: https://github.com/VictoriaMetrics/VictoriaMetrics/releases/download/v1.87.0/vmutils-linux-amd64-v1.87.0.tar.gz
    dest: /usr/local/bin
- name: Creating directories for VM
  file:
    path="{{ item }}"
    owner=victoriametrics
    group=victoriametrics
    state=directory
  loop:
    - /etc/victoriametrics/
    - /var/lib/victoriametrics/
- name: Setup VM
  copy:
   src: /etc/ansible/roles/SetupVM/items/vmalert.service
   dest: "{{dest}}"
- name: Setup VM configs
  copy:
   src: /etc/ansible/roles/SetupVM/files/vmalert.conf
   dest: "{{dest_configs}}"
- name: Enable VMalert
  ansible.builtin.service:
   name: vmalert.service
   enabled: true
   state: started
